@font-face {
    font-family:'Montserrat Bold';
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
       
    // src: url('Montserrat Bold.eot');
	// src: url('Montserrat Bold.eot?#iefix') format('embedded-opentype'),
	// 	url('Montserrat Bold.woff2') format('woff2'),
	// 	url('Montserrat Bold.woff') format('woff'),
	// 	url('Montserrat Bold.ttf') format('truetype'),
	// 	url('Montserrat Bold.svg#Montserrat Bold') format('svg');
    // font-weight: 700;
    // font-style: normal;
    // font-stretch: normal;
    // unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Montserrat Regular';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family:'Roboto';
    src: url('./fonts/Roboto/Roboto-Light.ttf');
    // font-family:'Roboto Light';
    // src: url('Roboto Light.eot');
	// src: url('Roboto Light.eot?#iefix') format('embedded-opentype'),
	// 	// url('Roboto Light.woff2') format('woff2'),
	// 	// url('Roboto Light.woff') format('woff'),
	// 	url('Roboto Light.ttf') format('truetype'),
	// 	url('Roboto Light.svg#Roboto Light') format('svg');
    // font-weight: 300;
    // font-style: normal;
    // font-stretch: normal;
    // unicode-range: U+0020-2044;
}