$main-color: #FFFFFF;
$second-color:#444444;
$third-color: #FF4E50;
$main-font-family: 'Montserrat Bold', sans-serif;
$second-font-family: 'Roboto', sans-serif;
$third-font-family: 'Montserrat Regular', sans-serif;
